.navbarWrapper {
    > a {
        border: groove transparent;
        border-width: 0px 5px;
        border-radius: 10px;
        padding: 0 10px;
        text-decoration: none;

        &:hover {
            border-color: teal;
        }
    }
}
